@tailwind base;
@tailwind components;
@tailwind utilities;

html.transitioning,
html.transitioning *,
html.transitioning *::before,
html.transitioning *::after {
  transition: background-color 150ms ease, border-color 150ms ease, color 150ms ease !important;
}
